:root {
  --bgc1: #21252b;
  --bgc2: #282c34;
  --bgc3: #2f343e;
  --font1: #abb2bf;
  --font2: #999;
  --theme1: tomato;
  --theme2: color-mix(in srgb, var(--theme1) 80%, #000);
  --theme3: color-mix(in srgb, var(--theme1) 60%, #000);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition:
    background-color 1s,
    border 0.5s,
    color 0.5s;
}
::selection {
  background-color: var(--theme1);
  color: var(--bgc2);
}
.label-select::selection {
  background-color: var(--theme3);
  color: currentColor;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--bgc3);
  border-radius: 0rem 2rem 2rem 0rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--font2);
  border-radius: 0rem 2rem 2rem 0rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme1);
}
[title] {
  cursor: pointer;
}
@media (max-width: 768px) {
  .body {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      'Pomodoro'
      'section'
      'nav';
    padding: 0;
    background-color: var(--bgc2);
  }
  #Pomodoro,
  nav,
  section {
    margin: 0;
    border: 0;
  }
  #Pomodoro {
    padding: 0.4rem;
  }
  #current {
    height: 1.5rem;
    text-align: start;
  }
  #countClock {
    width: 60%;
  }
  footer {
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --bgc1: #ddd;
    --bgc2: #fff;
    --bgc3: #eee;
    --font1: #000;
    --font2: #333;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bgc1: #21252b;
    --bgc2: #282c34;
    --bgc3: #2f343e;
    --font1: #abb2bf;
    --font2: #999;
  }
}
.mono {
  font-family: 'Segoe UI', 'SF Mono', Menlo, Monaco,Consolas, 'Courier New', monospace;
}
svg {
  fill: currentColor;
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
}
br {
  user-select: none;
}
button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--theme1);
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-family: 'Delius', cursive;
  color: var(--bgc2);
}
.page-button {
  padding: 0.4rem 1rem;
  background-color: var(--bgc2);
  border: 1px solid var(--font2);
  color: var(--font1);
}
.page-button:hover {
  background-color: var(--bgc3);
  border: 1px solid var(--theme1);
  color: var(--theme1);
}
.button-control {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}
